
.card{
    margin-top: 0%;  
     
     
     
      
     
      
      color: black;
  
  }
  /* #card{
      background-color:rgb(15, 152, 152);
     
  } */
  
  
  div{
      background-color: antiquewhite
      
  }
  /* .card-action{
      background-color: rgb(73, 223, 223) lighten-2;
      
  } */