<div class="container-fluid">
    <div class="row">
      <div class="card-content">

      <div class="col s12">
        <div class="card-action ">
        
      <div class="col s7" id="card">
       
       <h4>Contact Us</h4> 
       
              <p>XYZPharma</p>
              <p>Pharma House,MountValley</p>
              <p>SH MAAH,DAKAR</p>
              <P>741025</P>
       
    
    
      
        
      </div>
    
      
      <div class="col s5" id="card">
  
        
          <h4>Bisiness Hours</h4>
          <p>24X7</p>
                    <P>Contact before visiting</P>
              <br>
              <br>
              <br>
              
             
              
       
        </div>
    </div>
      </div>
    </div>
    </div>
  </div>