

 
   
<div class="container-fluid">
 
  <nav>
  
     <div class="nav-wrapper">
  
       <!-- <a href="#" class="brand-logo">XYZPharma</a> -->
  
       <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="">XYZPharma</a></li>
  
        <!-- <li><a href="/">query-az.com/jquery-tipsHome</a></li> -->
          <li><a href="/home">Home</a></li>
   
         <li><a href="/products">Products</a></li>
  
         <li><a href="/investor">Investors</a></li>
  
         <li><a href="/about">About Us</a></li>
  
       </ul>
  
     </div>
  
   </nav>
</div>


<router-outlet></router-outlet>
<app-footer></app-footer>